body
{background-color:lightskyblue;
}
h1{color:firebrick;}
h2 {
    color: black;
    font-size: 50px;
    font-family: Sitka Display;
    position: center;
}
h3 {
color:dimgrey;
font-size: 50px;
font-family:Sitka Display;
position:center;
}
p{
    padding: 30px;
}